<!DOCTYPE html>
<html>
<head>
  <!-- Title -->
  <title>
    <%= @title %>
  </title>


  <!-- Metadata -->
  <meta lang="en">
  <meta charset="utf-8">
  <meta name="description" content=description>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Css -->
  <link type="text/css" rel=stylesheet
        href= "<% File.expand_path('/resources/css/style.css')%>"
  >
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Oxygen:400" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IM+Fell+English:400i" rel="stylesheet">
</head>

<!-- Primary Navbar -->
<ul class="primary_nav--big">
  <% primary_nav = File.open(File.expand_path("content/primary_nav.txt"));
    primary_nav.each_line do |link| %>
        <a href="/<%= link %>"><li><%= link %></li></a>
  <% end %>
</ul>
</html>

<!-- Secondary Navbar -->
<ul class="secondary-nav--big">
  <% secondary_nav = File.open(File.expand_path("content/secondary_nav.txt"));
    secondary_nav.each_line do |link| %>
        <a href="/<%= link %>"><li><%= link %></li></a>
  <% end %>
</ul>
</html>
